.custom-card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.custom-card .card-img {
    object-fit: cover;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.custom-card .card-body {
    padding: 20px;
}

.custom-card .card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.custom-card .card-text {
    font-size: 1rem;
}

.custom-card .text-muted {
    font-size: 0.9rem;
}



