.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-caption {
    bottom: 270px;
}

.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p {
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

/* Navbar styles */
.navbar1 {
    background-color: transparent !important;
    box-shadow: none !important;
}

.navbar-light .navbar-brand {
    color: #000000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
    color: #000000;
}

.navbar-light .navbar-nav .nav-link {
    color: #000000;
}

.navbar-toggler {
    background: #000000;
}

.navbar-nav {
    text-align: center;
}

.nav-link {
    padding: .2rem 1rem;
}

.nav-link.active,
.nav-link:focus {
    color: #000000;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #8c8c8c;
}

.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
}

/*card css*/
.card {
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-img-top {
    height: 250px;
    object-fit: cover;
}
.card-img-overlay {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-title {
    font-size: 1.5rem;
}
.card-text {
    font-size: 1.2rem;
}

.location-text {
    font-size: 0.875rem; /* Small font size for location */
    text-transform: lowercase; /* Ensures location text is in small letters */
    margin-bottom: 0.5rem;
}
.btn-bottom {
    margin-top: auto;
}

/*text in topics(not include the text that in the images)*/
.centered-text {
    text-align: center;
    padding: 20px;
}
.centered-text p {
    font-size: 1.25rem;
    color: #6c757d;
    margin-bottom: 0.5rem;
}
.centered-text h5 {
    font-size: 2rem;
    font-weight: bold;
    color: #343a40;
}
