
.hero-section {
    /*position: relative;*/
    height: 100vh;
}

.hero-section .container {
    position: relative;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
}

.services-section .fa {
    color: #007bff;
}

.about-us-section img {
    border-radius: 8px;
}

.card img {
    height: 200px;
    object-fit: cover;
}

.btn {
    background-color: black;
    color: white;
    border-radius: 5px;
}

.btn-custom:hover {
    background-color: #303030; /* Hover background color */
    color: #ffffff; /* Ensure text color stays the same */
}

