.add_accommodations-section .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

h1 {
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    color: #333;
}

.form-group label {
    font-weight: 500;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.custom-file-label::after {
    content: "Browse";
}


/*accomadation class in admin accomadation view*/
.accommodations-section .card,
.trending-section .card {
    margin-bottom: 20px;
}

/* Accommodation Card Styles */
.accommodation-card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 300px;
}

.accommodation-card img {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: auto;
}

.accommodation-card .card-body {
    padding: 15px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 0 0 15px 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.accommodation-card .rating-badge {
    position: absolute;
    top: 15px;
    right: 15px;
}

.accommodation-card .rating-badge .badge {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 15px;
    font-size: 1rem;
}

.accommodation-card .card-title {
    margin: 0;
    font-size: 1.25rem;
}

.accommodation-card .card-text {
    margin: 5px 0;
}

.accommodation-card .card-price {
    font-size: 1.25rem;
    font-weight: bold;
}


