.add_accommodations-section .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    color: #333;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    text-align: left;
    margin-bottom: 8px;
}

.form-group label {
    font-weight: 500;
}


.btn-primary:hover {
    background-color: #393939;
    border-color: #393939;
}

.custom-file-label::after {
    content: "Browse";
}

input[type="text"],
input[type="number"]:focus,
input[type="date"]:focus,
input[type="image"]:focus,
input[type="file"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Slight shadow */
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="image"]:focus,
input[type="file"]:focus {
    border-color: #656565; /* Focus effect */
    box-shadow: 0 4px 10px rgba(0, 128, 0, 0.2);
}

.file-input-wrapper {
    display: flex;
    align-items: center;
}

input[type="file"] {
    flex: 1;
    margin-right: 10px;
}

.btn-primary {
    width: 100%;
    padding: 12px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-primary:hover {
    background-color: #333;
    transform: translateY(-2px);
}

/*accomadation class in admin accomadation view*/
.accommodations-section .card,
.trending-section .card {
    margin-bottom: 20px;
}

/* Accommodation Card Styles */
.accommodation-card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 300px;
}

.accommodation-card img {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: auto;
}

.accommodation-card .card-body {
    padding: 15px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 0 0 15px 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.accommodation-card .rating-badge {
    position: absolute;
    top: 15px;
    right: 15px;
}

.accommodation-card .rating-badge .badge {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 15px;
    font-size: 1rem;
}

.accommodation-card .card-title {
    margin: 0;
    font-size: 1.25rem;
}

.accommodation-card .card-text {
    margin: 5px 0;
}

.accommodation-card .card-price {
    font-size: 1.25rem;
    font-weight: bold;
}


